In [1]:
import os
import six
import tensorflow as tf
import numpy
import pandas as pd
import nltk
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score
from sklearn.metrics import precision_score,recall_score
from sklearn.tree import DecisionTreeClassifier#for decision tree
from sklearn.neural_network import MLPClassifier#for ANN
from sklearn.neighbors import KNeighborsClassifier#for KNN
from sklearn.naive_bayes import ComplementNB#for naive bayes
from sklearn.ensemble import RandomForestClassifier#for Random Forest

In [2]:
dataset_0=pd.read_csv('2019-07-12-00_ground_truth.csv')
data2=pd.read_csv('2019-07-12-01_ground_truth.csv')
data3=pd.read_csv('2019-07-12-02_ground_truth.csv')
data4=pd.read_csv('2019-07-12-03_ground_truth.csv')
data5=pd.read_csv('2019-07-12-04_ground_truth.csv')
data6=pd.read_csv('2019-07-12-05_ground_truth.csv')
data7=pd.read_csv('2019-07-12-06_ground_truth.csv')
data8=pd.read_csv('2019-07-12-07_ground_truth.csv')
data9=pd.read_csv('2019-07-12-08_ground_truth.csv')
data10=pd.read_csv('2019-07-12-09_ground_truth.csv')
data11=pd.read_csv('2019-07-12-10_ground_truth.csv')
data12=pd.read_csv('2019-07-12-11_ground_truth.csv')
data13=pd.read_csv('2019-07-12-12_ground_truth.csv')
data14=pd.read_csv('2019-07-12-13_ground_truth.csv')
data15=pd.read_csv('2019-07-12-14_ground_truth.csv')
data16=pd.read_csv('2019-07-12-15_ground_truth.csv')
data17=pd.read_csv('2019-07-12-16_ground_truth.csv')
data18=pd.read_csv('2019-07-12-17_ground_truth.csv')
data19=pd.read_csv('2019-07-12-18_ground_truth.csv')
data20=pd.read_csv('2019-07-12-19_ground_truth.csv')

dataset_1=dataset_0.append(data2)
dataset_2=dataset_1.append(data3)
dataset_3=dataset_2.append(data4)
dataset_4=dataset_3.append(data5)
dataset_5=dataset_4.append(data6)
dataset_6=dataset_5.append(data7)
dataset_7=dataset_6.append(data8)
dataset_8=dataset_7.append(data9)
dataset_9=dataset_8.append(data10)
dataset_10=dataset_9.append(data11)
dataset_11=dataset_10.append(data12)
dataset_12=dataset_11.append(data13)
dataset_13=dataset_12.append(data14)
dataset_14=dataset_13.append(data15)
dataset_15=dataset_14.append(data16)
dataset_16=dataset_15.append(data17)
dataset_17=dataset_16.append(data18)
dataset_18=dataset_17.append(data19)
dataset=dataset_18.append(data20)

dataset#show the data set

C:\Users\pc\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\pc\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\pc\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9,11,12,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Date flow start,Date flow end,Src IPv4,sPort,Dst IPv4,dPort,SYN size,TCP win,TCP SYN TTL,TLS SNI,...,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD,SSH Client Version,SSH Client Application,SSH Client Encryption,SSH Client MAC,SSH Client Compression,Session ID,Ground Truth OS
0,2019-07-11 23:58:57.823,2019-07-11 23:58:57.823,151.27.76.70,34377.0,75.252.41.68,14349.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3029,Windows
1,2019-07-11 23:58:08.780,2019-07-11 23:58:57.810,151.27.76.108,40664.0,179.22.75.154,443.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2120,Android
2,2019-07-11 23:59:00.339,2019-07-11 23:59:00.371,151.27.72.114,64630.0,179.22.74.153,443.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59834,Mac OS
3,2019-07-11 23:58:58.308,2019-07-11 23:58:58.308,151.27.18.206,8999.0,36.217.95.230,22337.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61722,Windows
4,2019-07-11 23:58:44.106,2019-07-11 23:59:01.458,151.27.26.159,44919.0,229.186.215.79,443.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48487,Android
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135971,2019-07-12 19:54:47.167,2019-07-12 19:54:47.167,151.27.205.194,46200.0,159.139.206.63,80.0,60.0,65535.0,62.0,NaN,...,65535.0,65535.0,65535.0,NaN,NaN,NaN,NaN,NaN,80629,Android
135972,2019-07-12 19:53:41.931,2019-07-12 19:54:42.024,151.27.78.213,57305.0,108.184.220.48,80.0,52.0,64240.0,126.0,NaN,...,65535.0,65535.0,65535.0,NaN,NaN,NaN,NaN,NaN,39336,Windows
135973,2019-07-12 19:52:26.550,2019-07-12 19:54:42.991,151.27.72.224,52042.0,159.139.203.179,80.0,60.0,29200.0,62.0,NaN,...,4.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN,93883,Android
135974,2019-07-12 19:52:10.742,2019-07-12 19:56:10.907,151.27.201.236,60847.0,179.22.75.180,80.0,60.0,65535.0,62.0,NaN,...,6.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,63613,Android
135975,2019-07-12 19:53:52.238,2019-07-12 19:54:52.268,151.27.79.90,53359.0,74.30.66.68,80.0,52.0,17520.0,126.0,NaN,...,65535.0,65535.0,65535.0,NaN,NaN,NaN,NaN,NaN,84724,Windows

In [3]:
train=dataset.drop(columns=['TLS SNI','TLS SNI length','TLS Client Version','Client Cipher Suites','TLS Extension Types','TLS Extension Lengths','TLS Elliptic Curves','TLS EC Point Formats','HTTP Host','SSH Client Version','SSH Client Application','SSH Client Encryption','SSH Client MAC','SSH Client Compression','Session ID','Date flow start','Date flow end','Src IPv4','sPort','Dst IPv4','dPort'])

#we can have 2 datasets one chosen above and one commented below
#train=dataset.drop(columns=['TLS SNI','HTTP UA OS','HTTP UA OS MAJ','HTTP UA OS MIN','HTTP UA OS BLD','TLS Client Version','Client Cipher Suites','TLS Extension Types','TLS Extension Lengths','TLS Elliptic Curves','TLS EC Point Formats','HTTP Host','SSH Client Version','SSH Client Application','SSH Client Encryption','SSH Client MAC','SSH Client Compression','Session ID','Date flow start','Date flow end','Src IPv4','sPort','Dst IPv4','dPort'])

training_inputs_1=train.dropna()
training_inputs=training_inputs_1[training_inputs_1['Ground Truth OS']!='Windows Phone']
training_inputs

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD,Ground Truth OS
10771,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
10772,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
10773,60.0,65535.0,62.0,3.0,2.0,2.0,65535.0,Android
10774,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Android
10775,52.0,64240.0,126.0,68.0,10.0,0.0,65535.0,Windows
...,...,...,...,...,...,...,...,...
135971,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Android
135972,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
135973,60.0,29200.0,62.0,3.0,4.0,4.0,2.0,Android
135974,60.0,65535.0,62.0,3.0,6.0,0.0,1.0,Android
135975,52.0,17520.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows

In [4]:
training_inputs.describe()

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD
count,171296.000000,171296.000000,171296.000000,171296.000000,171296.000000,171296.000000,171296.000000
mean,58.371310,61574.788950,79.847013,25619.470478,31176.286522,35411.917663,46013.240724
std,4.498118,12827.097646,28.699183,31969.659990,32724.008410,32659.562713,29893.848321
min,48.000000,8192.000000,60.000000,1.000000,1.000000,0.000000,0.000000
25%,52.000000,64240.000000,62.000000,3.000000,8.000000,1.000000,5.000000
50%,60.000000,65535.000000,62.000000,25.000000,18.000000,65535.000000,65535.000000
75%,60.000000,65535.000000,126.000000,65535.000000,65535.000000,65535.000000,65535.000000
max,64.000000,65535.000000,126.000000,65535.000000,65535.000000,65535.000000,65535.000000

In [5]:
training_inputs.shape

(171296, 8)

In [6]:
Y=training_inputs['Ground Truth OS']#outputs
X=training_inputs.drop(columns=['Ground Truth OS'])#inputs

In [7]:
Y.unique()#outputs are : Windows,Android,Mac OS,iOS.

array(['Windows', 'iOS', 'Android', 'Mac OS'], dtype=object)

In [8]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [136]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.7325160537069468

In [137]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.7325160537069468

In [141]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.7325160537069468

In [142]:
f1_score(Y_test, prediction,average='macro')

0.6769568592470544

In [143]:
f1_score(Y_test, prediction,average='micro')

0.7325160537069468

In [144]:
f1_score(Y_test, prediction,average='weighted')

0.7273349435851583

In [160]:
knn_model=KNeighborsClassifier(n_neighbors=5)#a general Knn net

knn_model.fit(X_train,Y_train)
prediction=knn_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for KNN nets is {score}') #accuracy of the model

Accuracy for KNN nets is 0.9647694103911266

In [161]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.9647694103911266

In [163]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.9647694103911266

In [164]:
f1_score(Y_test, prediction,average='macro')

0.9202041011647937

In [165]:
f1_score(Y_test, prediction,average='micro')

0.9647694103911266

In [166]:
f1_score(Y_test, prediction,average='weighted')

0.9636549158663411

In [183]:
DecisionTree_model=DecisionTreeClassifier()#a general DecisionTree net

DecisionTree_model.fit(X_train,Y_train)
prediction=DecisionTree_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for Decision Tree is {score}') #accuracy of the model

Accuracy for Decision Tree is 0.9652656158785756

In [184]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.9652656158785756

In [186]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.9652656158785756

In [187]:
f1_score(Y_test, prediction,average='macro')

0.9213649672938659

In [188]:
f1_score(Y_test, prediction,average='micro')

0.9652656158785756

In [189]:
f1_score(Y_test, prediction,average='weighted')

0.9641725327732398

In [206]:
ranfor_model=RandomForestClassifier()##a general Random Forest

ranfor_model.fit(X_train,Y_train)
prediction=ranfor_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for Random Forest is {score}') #accuracy of the model

Accuracy for Random Forest is 0.9652948044366608

In [207]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.9652948044366608

In [209]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.9652948044366608

In [210]:
f1_score(Y_test, prediction,average='macro')

0.9214150277986284

In [211]:
f1_score(Y_test, prediction,average='micro')

0.9652948044366608

In [212]:
f1_score(Y_test, prediction,average='weighted')

0.9642011401659039

In [11]:
bayes_model=ComplementNB()#a general naive bayes

bayes_model.fit(X_train,Y_train)
prediction=bayes_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for Naive Bayes model is {score}') #accuracy of the model

Accuracy for Naive Bayes model is 0.6038237011091652

In [10]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.6038237011091652

In [12]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.6038237011091652

In [13]:
f1_score(Y_test, prediction,average='macro')

0.3352946895094078

In [14]:
f1_score(Y_test, prediction,average='micro')

0.6038237011091652

In [15]:
f1_score(Y_test, prediction,average='weighted')

0.533257709643371

# Now we check accuracy regarding a pirticular OS

In [17]:
only_windows=training_inputs[training_inputs['Ground Truth OS']=='Windows']

only_iOS=training_inputs[training_inputs['Ground Truth OS']=='iOS']

only_Mac=training_inputs[training_inputs['Ground Truth OS']=='Mac OS']

only_Android=training_inputs[training_inputs['Ground Truth OS']=='Android']

In [18]:
only_windows

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD,Ground Truth OS
10771,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
10775,52.0,64240.0,126.0,68.0,10.0,0.0,65535.0,Windows
10777,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
10779,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
10780,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
...,...,...,...,...,...,...,...,...
135968,52.0,64240.0,126.0,40.0,65535.0,65535.0,65535.0,Windows
135969,52.0,8192.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
135970,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
135972,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows
135975,52.0,17520.0,126.0,65535.0,65535.0,65535.0,65535.0,Windows

In [19]:
X_win=only_windows.drop(columns=['Ground Truth OS'])
X_win

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD
10771,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0
10775,52.0,64240.0,126.0,68.0,10.0,0.0,65535.0
10777,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0
10779,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0
10780,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0
...,...,...,...,...,...,...,...
135968,52.0,64240.0,126.0,40.0,65535.0,65535.0,65535.0
135969,52.0,8192.0,126.0,65535.0,65535.0,65535.0,65535.0
135970,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0
135972,52.0,64240.0,126.0,65535.0,65535.0,65535.0,65535.0
135975,52.0,17520.0,126.0,65535.0,65535.0,65535.0,65535.0

In [20]:
answer_win=[]
for i in range(0,52310):
    answer_win.append('Windows')

In [145]:
prediction=ann_model.predict(X_win)#testing ANN model for Windows
score=accuracy_score(answer_win,prediction)
print(f'Accuracy for ANN nets is {score}')

Accuracy for ANN nets is 0.9984515389026954

In [146]:
precision_score(answer_win, prediction,average='micro', zero_division='warn')

0.9984515389026954

In [147]:
recall_score(answer_win,prediction,average='micro', zero_division='warn')

0.9984515389026954

In [148]:
print(f1_score(answer_win, prediction,average='micro'))
print(f1_score(answer_win, prediction,average='weighted'))

0.9984515389026954
0.9992251695539464

In [167]:
prediction=knn_model.predict(X_win)#testing KNN model for Windows
score=accuracy_score(answer_win,prediction)
print(f'Accuracy for KNN nets is {score}')

Accuracy for KNN nets is 0.9974192315044924

In [168]:
precision_score(answer_win, prediction,average='micro', zero_division='warn')

0.9974192315044924

In [169]:
recall_score(answer_win,prediction,average='micro', zero_division='warn')

0.9974192315044924

In [170]:
print(f1_score(answer_win, prediction,average='micro'))
print(f1_score(answer_win, prediction,average='weighted'))

0.9974192315044924
0.9987079485093554

In [190]:
prediction=DecisionTree_model.predict(X_win)#testing Decision Tree model for Windows
score=accuracy_score(answer_win,prediction)
print(f'Accuracy for Decision Tree nets is {score}')

Accuracy for Decision Tree nets is 0.9975148155228446

In [191]:
precision_score(answer_win, prediction,average='micro', zero_division='warn')

0.9975148155228446

In [192]:
recall_score(answer_win,prediction,average='micro', zero_division='warn')

0.9975148155228446

In [193]:
print(f1_score(answer_win, prediction,average='micro'))
print(f1_score(answer_win, prediction,average='weighted'))

0.9975148155228446
0.9987558618049575

In [213]:
prediction=ranfor_model.predict(X_win)#testing Random Forest model for Windows
score=accuracy_score(answer_win,prediction)
print(f'Accuracy for Random Forest nets is {score}')

Accuracy for Random Forest nets is 0.997533932326515

In [214]:
precision_score(answer_win, prediction,average='micro', zero_division='warn')

0.997533932326515

In [215]:
recall_score(answer_win,prediction,average='micro', zero_division='warn')

0.997533932326515

In [216]:
print(f1_score(answer_win, prediction,average='micro'))
print(f1_score(answer_win, prediction,average='weighted'))

0.997533932326515
0.9987654439138299

In [21]:
prediction=bayes_model.predict(X_win)#testing Naive Bayes model for Windows
score=accuracy_score(answer_win,prediction)
print(f'Accuracy for Naive Bayes model is {score}')

Accuracy for Naive Bayes model is 0.749015484610973

In [22]:
precision_score(answer_win, prediction,average='micro', zero_division='warn')

0.749015484610973

In [23]:
recall_score(answer_win,prediction,average='micro', zero_division='warn')

0.749015484610973

In [24]:
print(f1_score(answer_win, prediction,average='micro'))
print(f1_score(answer_win, prediction,average='weighted'))

0.749015484610973
0.8564995464034713

In [25]:
only_iOS

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD,Ground Truth OS
10772,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
10776,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
10785,64.0,65535.0,62.0,4.0,12.0,1.0,1.0,iOS
10812,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
10828,64.0,65535.0,62.0,4.0,65535.0,65535.0,65535.0,iOS
...,...,...,...,...,...,...,...,...
135894,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
135896,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
135913,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
135949,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS
135961,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,iOS

In [26]:
X_ios=only_iOS.drop(columns=['Ground Truth OS'])
X_ios

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD
10772,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
10776,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
10785,64.0,65535.0,62.0,4.0,12.0,1.0,1.0
10812,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
10828,64.0,65535.0,62.0,4.0,65535.0,65535.0,65535.0
...,...,...,...,...,...,...,...
135894,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
135896,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
135913,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
135949,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
135961,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0

In [27]:
answer_ios=[]
for i in range(0,20110):
    answer_ios.append('iOS')

In [149]:
prediction=ann_model.predict(X_ios)#testing ANN model for iOS
score=accuracy_score(answer_ios,prediction)
print(f'Accuracy for ANN nets is {score}')

Accuracy for ANN nets is 0.2685728493286922

In [150]:
precision_score(answer_ios, prediction,average='micro', zero_division='warn')

0.2685728493286922

In [151]:
recall_score(answer_ios,prediction,average='micro', zero_division='warn')

0.2685728493286922

In [41]:
print(f1_score(answer_ios, prediction,average='micro'))
print(f1_score(answer_ios, prediction,average='weighted'))

0.2883639980109398
0.44764367594272253

In [171]:
prediction=knn_model.predict(X_ios)#testing KNN model for iOS
score=accuracy_score(answer_ios,prediction)
print(f'Accuracy for KNN nets is {score}')

Accuracy for KNN nets is 0.9384883142715067

In [172]:
precision_score(answer_ios, prediction,average='micro', zero_division='warn')

0.9384883142715067

In [173]:
recall_score(answer_ios,prediction,average='micro', zero_division='warn')

0.9384883142715067

In [174]:
print(f1_score(answer_ios, prediction,average='micro'))
print(f1_score(answer_ios, prediction,average='weighted'))

0.9384883142715068
0.9682682194802863

In [194]:
prediction=DecisionTree_model.predict(X_ios)#testing Decision Tree model for iOS
score=accuracy_score(answer_ios,prediction)
print(f'Accuracy for Decision Tree nets is {score}')

Accuracy for Decision Tree nets is 0.9407757334659373

In [195]:
precision_score(answer_ios, prediction,average='micro', zero_division='warn')

0.9407757334659373

In [196]:
recall_score(answer_ios,prediction,average='micro', zero_division='warn')

0.9407757334659373

In [197]:
print(f1_score(answer_ios, prediction,average='micro'))
print(f1_score(answer_ios, prediction,average='weighted'))

0.9407757334659373
0.9694842296753695

In [217]:
prediction=ranfor_model.predict(X_ios)#testing Random Forest model for iOS
score=accuracy_score(answer_ios,prediction)
print(f'Accuracy for Random Forest nets is {score}')

Accuracy for Random Forest nets is 0.9407757334659373

In [218]:
precision_score(answer_ios, prediction,average='micro', zero_division='warn')

0.9407757334659373

In [219]:
recall_score(answer_ios,prediction,average='micro', zero_division='warn')

0.9407757334659373

In [47]:
print(f1_score(answer_ios, prediction,average='micro'))
print(f1_score(answer_ios, prediction,average='weighted'))

0.9409249129786176
0.9695634351301496

In [28]:
prediction=bayes_model.predict(X_ios)#testing Naive Bayes model for Windows
score=accuracy_score(answer_ios,prediction)
print(f'Accuracy for Naive Bayes model is {score}')

Accuracy for Naive Bayes model is 0.0

In [29]:
precision_score(answer_ios, prediction,average='micro', zero_division='warn')

0.0

In [30]:
recall_score(answer_ios,prediction,average='micro', zero_division='warn')

0.0

In [31]:
print(f1_score(answer_ios, prediction,average='micro'))
print(f1_score(answer_ios, prediction,average='weighted'))

0.0
0.0

In [32]:
only_Mac

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD,Ground Truth OS
11003,64.0,65535.0,62.0,15.0,18.0,6.0,0.0,Mac OS
11289,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Mac OS
11314,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Mac OS
21206,64.0,65535.0,62.0,6.0,10.0,12.0,65535.0,Mac OS
21216,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Mac OS
...,...,...,...,...,...,...,...,...
135853,64.0,65535.0,62.0,6.0,65535.0,65535.0,65535.0,Mac OS
135855,64.0,65535.0,62.0,6.0,65535.0,65535.0,65535.0,Mac OS
135901,64.0,65535.0,62.0,15.0,15.0,6.0,0.0,Mac OS
135931,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Mac OS
135945,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Mac OS

In [33]:
X_Mac=only_Mac.drop(columns=['Ground Truth OS'])
X_Mac

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD
11003,64.0,65535.0,62.0,15.0,18.0,6.0,0.0
11289,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
11314,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
21206,64.0,65535.0,62.0,6.0,10.0,12.0,65535.0
21216,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
...,...,...,...,...,...,...,...
135853,64.0,65535.0,62.0,6.0,65535.0,65535.0,65535.0
135855,64.0,65535.0,62.0,6.0,65535.0,65535.0,65535.0
135901,64.0,65535.0,62.0,15.0,15.0,6.0,0.0
135931,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
135945,64.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0

In [34]:
answer_Mac=[]
for i in range(0,15701):
    answer_Mac.append('Mac OS')

In [152]:
prediction=ann_model.predict(X_Mac)#testing ANN model for Mac OS
score=accuracy_score(answer_Mac,prediction)
print(f'Accuracy for ANN nets is {score}')

Accuracy for ANN nets is 0.7021208840201261

In [153]:
precision_score(answer_Mac, prediction,average='micro', zero_division='warn')

0.7021208840201261

In [155]:
recall_score(answer_Mac,prediction,average='micro', zero_division='warn')

0.7021208840201261

In [52]:
print(f1_score(answer_Mac, prediction,average='micro'))
print(f1_score(answer_Mac, prediction,average='weighted'))

0.5984969110247755
0.7488246075384493

In [175]:
prediction=knn_model.predict(X_Mac)#testing KNN model for Mac OS
score=accuracy_score(answer_Mac,prediction)
print(f'Accuracy for KNN nets is {score}')

Accuracy for KNN nets is 0.7171517737723712

In [176]:
precision_score(answer_Mac, prediction,average='micro', zero_division='warn')

0.7171517737723712

In [177]:
recall_score(answer_Mac,prediction,average='micro', zero_division='warn')

0.7171517737723712

In [178]:
print(f1_score(answer_Mac, prediction,average='micro'))
print(f1_score(answer_Mac, prediction,average='weighted'))

0.7171517737723712
0.8352805904825489

In [198]:
prediction=DecisionTree_model.predict(X_Mac)#testing Decision Tree model for Mac OS
score=accuracy_score(answer_Mac,prediction)
print(f'Accuracy for Decision Tree nets is {score}')

Accuracy for Decision Tree nets is 0.718298197567034

In [199]:
precision_score(answer_Mac, prediction,average='micro', zero_division='warn')

0.718298197567034

In [200]:
recall_score(answer_Mac,prediction,average='micro', zero_division='warn')

0.718298197567034

In [201]:
print(f1_score(answer_Mac, prediction,average='micro'))
print(f1_score(answer_Mac, prediction,average='weighted'))

0.718298197567034
0.8360576744875644

In [220]:
prediction=ranfor_model.predict(X_Mac)#testing Random Forest model for Mac OS
score=accuracy_score(answer_Mac,prediction)
print(f'Accuracy for Random Forest nets is {score}')

Accuracy for Random Forest nets is 0.718298197567034

In [221]:
precision_score(answer_Mac, prediction,average='micro', zero_division='warn')

0.718298197567034

In [222]:
recall_score(answer_Mac,prediction,average='micro', zero_division='warn')

0.718298197567034

In [223]:
print(f1_score(answer_Mac, prediction,average='micro'))
print(f1_score(answer_Mac, prediction,average='weighted'))

0.718298197567034
0.8360576744875644

In [35]:
prediction=bayes_model.predict(X_Mac)#testing Naive Bayes model for Windows
score=accuracy_score(answer_Mac,prediction)
print(f'Accuracy for Naive Bayes model is {score}')

Accuracy for Naive Bayes model is 0.0

In [36]:
precision_score(answer_Mac, prediction,average='micro', zero_division='warn')

0.0

In [37]:
recall_score(answer_Mac,prediction,average='micro', zero_division='warn')

0.0

In [38]:
print(f1_score(answer_Mac, prediction,average='micro'))
print(f1_score(answer_Mac, prediction,average='weighted'))

0.0
0.0

In [59]:
only_Android

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD,Ground Truth OS
10773,60.0,65535.0,62.0,3.0,2.0,2.0,65535.0,Android
10774,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Android
10778,60.0,65535.0,62.0,3.0,8.0,0.0,0.0,Android
10782,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Android
10783,60.0,14600.0,62.0,3.0,4.0,1.0,2.0,Android
...,...,...,...,...,...,...,...,...
135963,60.0,65535.0,62.0,25.0,65535.0,65535.0,65535.0,Android
135967,60.0,65535.0,62.0,3.0,5.0,1.0,1.0,Android
135971,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0,Android
135973,60.0,29200.0,62.0,3.0,4.0,4.0,2.0,Android
135974,60.0,65535.0,62.0,3.0,6.0,0.0,1.0,Android

In [39]:
X_and=only_Android.drop(columns=['Ground Truth OS'])
X_and

,SYN size,TCP win,TCP SYN TTL,HTTP UA OS,HTTP UA OS MAJ,HTTP UA OS MIN,HTTP UA OS BLD
10773,60.0,65535.0,62.0,3.0,2.0,2.0,65535.0
10774,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
10778,60.0,65535.0,62.0,3.0,8.0,0.0,0.0
10782,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
10783,60.0,14600.0,62.0,3.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...
135963,60.0,65535.0,62.0,25.0,65535.0,65535.0,65535.0
135967,60.0,65535.0,62.0,3.0,5.0,1.0,1.0
135971,60.0,65535.0,62.0,65535.0,65535.0,65535.0,65535.0
135973,60.0,29200.0,62.0,3.0,4.0,4.0,2.0
135974,60.0,65535.0,62.0,3.0,6.0,0.0,1.0

In [40]:
answer_and=[]
for i in range(0,83175):
    answer_and.append('Android')

In [156]:
prediction=ann_model.predict(X_and)#testing ANN model for Android
score=accuracy_score(answer_and,prediction)
print(f'Accuracy for ANN nets is {score}')

Accuracy for ANN nets is 0.679146378118425

In [157]:
precision_score(answer_and, prediction,average='micro', zero_division='warn')

0.679146378118425

In [158]:
recall_score(answer_and,prediction,average='micro', zero_division='warn')

0.679146378118425

In [159]:
print(f1_score(answer_and, prediction,average='micro'))
print(f1_score(answer_and, prediction,average='weighted'))

0.679146378118425
0.8089186112284572

In [179]:
prediction=knn_model.predict(X_and)#testing KNN model for Android
score=accuracy_score(answer_and,prediction)
print(f'Accuracy for KNN nets is {score}')

Accuracy for KNN nets is 0.9994709948902916

In [180]:
precision_score(answer_and, prediction,average='micro', zero_division='warn')

0.9994709948902916

In [181]:
recall_score(answer_and,prediction,average='micro', zero_division='warn')

0.9994709948902916

In [65]:
print(f1_score(answer_and, prediction,average='micro'))
print(f1_score(answer_and, prediction,average='weighted'))

0.9994709948902916
0.9997354274650343

In [202]:
prediction=DecisionTree_model.predict(X_and)#testing Decision Tree model for Android
score=accuracy_score(answer_and,prediction)
print(f'Accuracy for Decision Tree nets is {score}')

Accuracy for Decision Tree nets is 0.9995431319507063

In [203]:
precision_score(answer_and, prediction,average='micro', zero_division='warn')

0.9995431319507063

In [204]:
recall_score(answer_and,prediction,average='micro', zero_division='warn')

0.9995431319507063

In [205]:
print(f1_score(answer_and, prediction,average='micro'))
print(f1_score(answer_and, prediction,average='weighted'))

0.9995431319507063
0.9997715137813266

In [224]:
prediction=ranfor_model.predict(X_and)#testing Random Forest model for Android
score=accuracy_score(answer_and,prediction)
print(f'Accuracy for Random Forest nets is {score}')

Accuracy for Random Forest nets is 0.9995431319507063

In [225]:
precision_score(answer_and, prediction,average='micro', zero_division='warn')

0.9995431319507063

In [226]:
recall_score(answer_and,prediction,average='micro', zero_division='warn')

0.9995431319507063

In [227]:
print(f1_score(answer_and, prediction,average='micro'))
print(f1_score(answer_and, prediction,average='weighted'))

0.9995431319507063
0.9997715137813266

In [44]:
prediction=bayes_model.predict(X_and)#testing Naive Bayes model for Windows
score=accuracy_score(answer_and,prediction)
print(f'Accuracy for Naive Bayes model is {score}')

Accuracy for Naive Bayes model is 0.772599939885783

In [45]:
precision_score(answer_and, prediction,average='micro', zero_division='warn')

0.772599939885783

In [46]:
recall_score(answer_and,prediction,average='micro', zero_division='warn')

0.772599939885783

In [47]:
print(f1_score(answer_and, prediction,average='micro'))
print(f1_score(answer_and, prediction,average='weighted'))

0.772599939885783
0.8717138283729888

# To check the most important parameter

In [49]:
from sklearn.decomposition import FactorAnalysis
from sklearn import datasets

In [71]:
X_1=X.drop(columns=['SYN size'])#removing parameter SYN size

In [72]:
X_train,X_test,Y_train,Y_test=train_test_split(X_1,Y,test_size=0.2)

In [254]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.6623175715119674

In [255]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.6623175715119674

In [256]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.6623175715119674

In [257]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.6623175715119674
0.6608297918229611

In [50]:
X_2=X.drop(columns=['TCP SYN TTL'])#removing parameter TCP SYN TTL

In [271]:
X_train,X_test,Y_train,Y_test=train_test_split(X_2,Y,test_size=0.2)

In [288]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.49600116754232343

In [289]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.49600116754232343

In [290]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.49600116754232343

In [291]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.49600116754232343
0.3396419109963589

In [51]:
X_3=X.drop(columns=['TCP win'])#removing parameter TCP win

In [52]:
X_train,X_test,Y_train,Y_test=train_test_split(X_2,Y,test_size=0.2)

In [53]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.6683304144775248

In [54]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.6683304144775248

In [55]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.6683304144775248

In [56]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.6683304144775248
0.6675240068215916

In [57]:
X_4=X.drop(columns=['HTTP UA OS'])#removing parameter HTTP UA OS

In [58]:
X_train,X_test,Y_train,Y_test=train_test_split(X_2,Y,test_size=0.2)

In [59]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.6474022183304144

In [60]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.6474022183304144

In [61]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.6474022183304144

In [62]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.6474022183304144
0.6361823484373758

In [63]:
X_5=X.drop(columns=['HTTP UA OS MAJ'])#removing parameter HTTP UA OS MAJ

In [64]:
X_train,X_test,Y_train,Y_test=train_test_split(X_2,Y,test_size=0.2)

In [65]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.7466141272621133

In [66]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.7466141272621133

In [67]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.7466141272621133

In [68]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.7466141272621132
0.7261962188319118

In [69]:
X_6=X.drop(columns=['HTTP UA OS MIN'])#removing parameter HTTP UA OS MIN

In [70]:
X_train,X_test,Y_train,Y_test=train_test_split(X_2,Y,test_size=0.2)

In [71]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.7511675423234092

In [72]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.7511675423234092

In [73]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.7511675423234092

In [74]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.7511675423234092
0.7516249663951073

In [75]:
X_7=X.drop(columns=['HTTP UA OS BLD'])#removing parameter HTTP UA OS BLD

In [76]:
X_train,X_test,Y_train,Y_test=train_test_split(X_2,Y,test_size=0.2)

In [77]:
ann_model=MLPClassifier()#a general net

ann_model.fit(X_train,Y_train)
prediction=ann_model.predict(X_test)
score=accuracy_score(Y_test,prediction)
print(f'Accuracy for ANN nets is {score}') #accuracy of the model

Accuracy for ANN nets is 0.6830122591943958

In [78]:
precision_score(Y_test, prediction,average='micro', zero_division='warn')

0.6830122591943958

In [79]:
recall_score(Y_test,prediction,average='micro', zero_division='warn')

0.6830122591943958

In [80]:
print(f1_score(Y_test, prediction,average='micro'))
print(f1_score(Y_test, prediction,average='weighted'))

0.6830122591943958
0.6813418119757823